<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Нет доступа</title>
</head>
<body>
  <div class="bad_url_body">  
    <h1>403</h1>
    <p>Хомячок полез туда, куда нельзя.</p>
    <form method="get" action="/to_login">
        <button id="to_login_btn" type="submit">Вернуться в окно авторизации</button>
    </form>
  </div>
</body>
</html>