<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Клетка хомячка</title>
</head>
<body>
    <div class="hamster_home" id="hamster_home">
        <h2>Домик хомячка</h2>
        <form method="get" action="/logout">
            <button id="to_login_btn" type="submit">Завершить сессию</button>
        </form>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>